# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: waygex
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: serverless-liquid
# "service" is the name of this project. This will also be added to your AWS resource names.
service: serverless-liquid

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  stage: dev
  timeout: 30
  memorySize: 256
  logs:
    httpApi: true
  environment:
    JWT_SECRET: ${env:JWT_SECRET}
    POWERTOOLS_DEV: ${env:POWERTOOLS_DEV}
    ALPHA_API_KEY: ${env:ALPHA_API_KEY}
    ALPHA_API_URL: ${env:ALPHA_API_URL}
    STAGE: ${sls:stage}
    USERS_TABLE: users
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:DescribeTable
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:provider.environment.USERS_TABLE}
  httpApi:
    cors: 
      allowCredentials: true
      allowedOrigins:
        - 'http://localhost:3000'
        - ${env:FRONTEND_URL}
        - 'https://serverless-application-two.vercel.app'
      allowedHeaders:
        - 'Content-Type'
        - 'Authorization'
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
  

functions:
  api:
    handler: handler.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      #     cors: true
      #     https: false
      # - httpApi: '*'

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:USERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH

plugins:
  - serverless-python-requirements
  - serverless-offline

custom:
  pythonRequirements:
    dockerizePip: non-linux
    slim: false
    useDownloadCache: false
    useStaticCache: false